header
{
	height: 125px
}

#header_logo
{
	width:10%;
}

#header_table{
	width: 100%;
}

#header_title
{
	width:80%;
}

header h1
{
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-size:50px;
	color: #2E78A5;
	text-align: center;
}

#header_p_logo
{
	width:10%;
}

div
{
    color: #F36E1F;
	height: 30px;
	width: 100%;
	border: 0;
	background-color: #F36E1F;
}

section
{
	font-family: 'Open Sans', sans-serif;
}

input[type=submit], .link_button {
    background-color: #8CC640;
    color: white;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline-block;
}



input[type=submit]:focus {
}

textarea {
   resize: none;
}

.form_table{
	border: none;
	border-spacing: 10px;
    border-collapse: separate;
	padding: 10px;
}

.lunch_table th, .lunch_table td
{
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.lunch_table th
{
	background-color: #2E78A5;
    color: white;
}

.lunch_table tr:hover 
{
	background-color: #A6CEE6
}

.lunch_table{
	border-collapse:collapse;
	width:100%;
	max-width:1024px;
	min-width:600px;
}

.form_textarea{
	font-family: 'Open Sans', sans-serif;
	width:300px;
	height:100px;
}

.form_text{
	width:302px;
}

footer
{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
    background-color: #F36E1F;
	height: 20px;
	text-align: center;
	color: white;
	padding: 10px;
}