header
{
	height: 125px
}

div
{
    color: #F36E1F;
	height: 30px;
	width: 100%;
	border: 0;
	background-color: #F36E1F;
}

section
{
	font-family: 'Open Sans', sans-serif;
}

#header_logo
{
	width:10%;
}

#header_title
{
	width:80%;
}

header h1
{
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-size:50px;
	color: #2E78A5;
	text-align: center;
}

#header_p_logo
{
	width:10%;
}

#input_suggest
{

}

input[type=submit], .link_button {
    background-color: #8CC640;
    color: white;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline-block;
}

input[type=submit]:focus {
}

textarea {
   resize: none;
}

.form_table{
	border: none;
	border-spacing: 10px;
    border-collapse: separate;
	padding: 10px;
}

.form_textarea{
	width:300px;
	height:100px;
}

.form_text{
	width:302px;
}

footer
{
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
    background-color: #8CC640;
	height: 30px;
	text-align: center;
	color: white;
}